/* Start General Styling */
* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    min-height:100%
}
/* End General Styling */
  
/* Start Header Styles */
header {
    background-color: red;
    color: white;
}

.logo {
    display: inline-block;
    width: 200px;
    margin-left: 20px;
}
/* End Header Styles */

/* Start Body Styles */
/* Style the left menu bar with links */
nav {
    float: left;
    width: 17%;
    height: 560px;
    background: #f1f1f1;
    background-image: url('../images/nav-bg-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

/* Style the links inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
    padding: 10px;
    background-color: antiquewhite;
    opacity: 0.7;
}

nav ul li {
    margin-bottom: 4px;
}

nav ul li a {
    color: red;
    font-size: 14px;
}

.main-content {
    float: left;
    padding: 20px;
    width: 83%;
    background-color: #f1f1f1;
    height: 560px;
    overflow: scroll;
}

.main-div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.account-summary img {
    width: 500px;
}

.news-div {
    width: 46%;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    padding: 10px;
    height: 520px;;
}

.news-div ul li{
    margin-bottom: 10px;
    border-bottom: 1px solid lightcoral;
    padding-bottom: 5px;
    font-style: italic;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}
/* End Body Styles */

/* Start Footer Styles */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    position:fixed;
    bottom:0;
    width:100%;
}
/* End Footer Styles */

/* Start Responsive Styles */
/* Stack header, nav, main-content on top of each other for small screens */
@media (max-width: 600px) {
    nav, .main-content {
        width: 100%;
        height: auto;
    }
}
/* End Responsive Styles */
